// Variables
$primary: #38A2F4;

// Colors from the compass icon
$compassOrange: #FFA21D;
$compassYellow: #FFCA29;
$compassGreen: #66BA69;
$compassBlue: #399FF4;
$compassViolet: #7243A8;
$compassPurple: #A132B4;
$compassMagenta: #EA296A;
$compassRed: #E84C41;
